<html>
  <head>
    <title>
      Dashboard
    </title>
  </head>
  <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-lite@5"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
  <script src="https://cdn.jsdelivr.net/npm/d3@7.6.1/dist/d3.min.js"></script>
  <script src="common.js"></script>
  <link rel="stylesheet" href="style.css" type="text/css" />
  <style>
    .prefixes {
        display: flex;
        flex-direction: row-reverse;
    }
    .prefix {
        background-color: #9999ee;
        border: 1px solid gray;
        max-width: 12em;
        margin: 4px;
        padding: 2px;
    }
    .prefix:hover {
        background-color: #bbbbff;
    }
    .box {
        border: 1px solid white;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .box .title {
        text-decoration: none;
        color: #222;
    }
    .box:hover {
        border: 1px solid #ccc;
        background-color: #eee;
    }
    .filtered {
        display: none;
    }
    .header{
        height: var(--header-height);
    }
    .content {
        display: flex;
        flex-direction: row;
    }
    .dashboard {
        width: 80%;
    }
    .stat_container {
        position: fixed;
        top: var(--header-height);
        right: 0;
        width: 18%;
        height: calc(100vh - var(--header-height));
        overflow: auto;
    }
    #update_stats {
        border: 1ps solid grey;
        background-color: lightgrey;
    }

  </style>

  <body>
    <div class="header">
      <p class="menu"><a href="/">Home</a></p>
      <h1>Dashboard <span class="metadata"></span></h1>
      <div class="prefixes"></div>
    </div>

    <div class="content">
      <div class="dashboard">
      </div>
      <div class="stat_container">
        <button id="update_stats">Update global stats</button>
        <div class="stats">
        </div>
      </div>
    </div>

    <script>
      let whole_data = [];

      let vl_viz = (spec) => {
          let viz = document.createElement('div');
          viz.classList.add('chart');
          viz.embed = vegaEmbed(viz,
                               spec,
                               {
                                   "actions": false
                               });
          return viz;
      };

      // Code from https://observablehq.com/@tophtucker/chatterjee-correlation
      let chatterjee = (data, { x = (d) => d[0], y = (d) => d[1] } = {}) => {
          // 0. Extract values
          const X = d3.map(data, x);
          const Y = d3.map(data, y);
          const N = X.length;

          // 1. rearrange along X
          const I = d3.sort(d3.range(N), (i) => X[i]);

          // 2. rank Y
          const rank = d3.rank(Y);

          // 3. compute ξ (simple formula with no ties)
          return (
              1 -
                  (3 / (N * N - 1)) *
                  d3.sum(d3.pairs(I), ([a, b]) => Math.abs(rank[a] - rank[b]))
          );
      };

      let merged_viz = (session, data) => {
          let box = document.createElement('div');
          let norm_data = normalized_data(data);
          // Consider only main 'processed' version for stats
          let merged_data = norm_data.filter(i => i.version == 'processed');
          let chatter = chatterjee(merged_data, {
              x: (d) => d.proceeding,
              y: (d) => d.media,
          });
          let matching_ratio = merged_data.filter(i => i.matching == 'matching').length / merged_data.length;
          let count_diff = merged_data.filter(i => i.matching == 'media_only').length - merged_data.filter(i => i.matching == 'proceeding_only').length
          box.classList.add('box');
          box.dataset.session = session;
          box.style.order = session;
          box.innerHTML = `<a data-session="${session}" data-ratio="${matching_ratio}" data-diff="${count_diff}" target="_blank" href="transcript.html?session=${session}" class="title"><strong>Session ${session}</strong></a><br>Ratio ${matching_ratio.toFixed(3)}<br>Chatterjee: ${chatter.toFixed(3)}`;
          box.appendChild(vl_viz({
              $schema: 'https://vega.github.io/schema/vega-lite/v5.json',
              width: "container",
              height: "container",
              description: 'Indexes',
              title: `Session ${session}`,
              data: {
                  values: normalized_data(data)
              },
              mark: { type: 'point',
                      shape: 'square',
                      tooltip: true,
                      filled: true },
              encoding: {
                  x: {
                      field: 'proceeding',
                      type: 'quantitative',
                      scale: {
                          type: 'point'
                      }
                  },
                  y: {
                      field: 'media',
                      type: 'quantitative',
                      scale: {
                          type: 'point'
                      }
                  },
                  color: {
                      field: "version",
                      type: "nominal",
                      legend: false
                  },
                  tooltip: [
                      { field: 'media' },
                      { field: 'proceeding' },
                      { field: 'speaker' },
                      { field: 'title' },
                      { field: 'version' }
                  ],
                  href: {
                      field: 'url'
                  }
              }
          }));
          return box;
      }

      function stats_viz() {
          let box = document.createElement('div');

          let stats = whole_data.map(data => {
              let norm = normalized_data(data);
              let session = Number(norm[0].session);
              let matching_count = norm.filter(i => i.matching == 'matching').length;
              let mc = norm.filter(i => i.matching == 'media_only').length;
              let pc = norm.filter(i => i.matching == 'proceeding_only').length;
              return {
                  media_count: mc + matching_count,
                  proceedings_count: pc + matching_count,
                  diff_count: mc - pc,
                  url: `transcript.html?session=${session}`,
                  session: session,
                  matching_ratio: matching_count / norm.length,
                  row: session - session % 10,
                  col: session % 10,
              }
          });
          console.log(stats);
          box.classList.add('stat');

          // Histogram viz
          let hist = vl_viz({
              "$schema": "https://vega.github.io/schema/vega-lite/v5.json",
              data: { values: stats },
              title: "Histogram of matching_ratio",
              "mark": "bar",
               "params": [{
                   "name": "ratio",
                   "select": {"type": "interval", "encodings": ["x"]}
               }],
              "encoding": {
                  "x": {
                      "bin": true,
                      "field": "matching_ratio"
                  },
                  "y": {"aggregate": "count"}
              }
          });
          box.appendChild(hist);
          let debounce_filter = debounce(limit_ratio, 500);
          hist.embed.then( ({spec, view}) => {
              view.addSignalListener('ratio', (name, value) => {
                  console.log("Brush signal", name, value);
                  if (value.matching_ratio !== undefined) {
                      debounce_filter(value.matching_ratio[0],
                                      value.matching_ratio[1]);
                  } else {
                      debounce_filter(0, 1);
                  }
              });
          });

          box.appendChild(vl_viz({
              $schema: 'https://vega.github.io/schema/vega-lite/v5.json',
              title: `Stats for ${whole_data.length} sessions`,
              data: {
                  values: stats,
              },
              mark: { type: 'point',
                      shape: 'square',
                      tooltip: true,
                      filled: true },
              encoding: {
                  x: {
                      field: 'diff_count',
                      type: 'quantitative',
                  },
                  y: {
                      field: 'matching_ratio',
                      type: 'quantitative',
                  },
                  color: {
                      field: "matching_ratio",
                      type: "quantitative",
                  },
                  tooltip: [
                      { field: 'diff_count' },
                      { field: 'matching_ratio' },
                      { field: 'session' },
                      { field: 'media_count' },
                      { field: 'proceedings_count' },
                  ],
                  href: {
                      field: 'url'
                  }
              }
          }));
          // Table viz
          box.appendChild(vl_viz({
              $schema: 'https://vega.github.io/schema/vega-lite/v5.json',
              title: `Table for ${whole_data.length} sessions`,
              data: {
                  values: stats,
              },
              mark: { type: 'rect',
                      tooltip: true },
              encoding: {
                  x: {
                      field: 'col',
                      type: 'ordinal',
                  },
                  y: {
                      field: 'row',
                      type: 'ordinal',
                  },
                  color: {
                      field: "matching_ratio",
                      type: "quantitative",
                  },
                  tooltip: [
                      { field: 'diff_count' },
                      { field: 'matching_ratio' },
                      { field: 'session' },
                      { field: 'media_count' },
                      { field: 'proceedings_count' },
                  ],
                  href: {
                      field: 'url'
                  }
              },
              "config": {
                  "axis": {"grid": true, "tickBand": "extent"}
              }
          }));
          return box;
      }

      function limit_ratio(from, to) {
          if (from === undefined) from = 0;
          if (to === undefined) to = 1;
          let count = 0;
          let visible = 0;
          document.querySelectorAll('.box').forEach(box => {
              count +=1;
              const ratio = Number(box.children[0].dataset.ratio);
              if (ratio < from || ratio > to) {
                  box.classList.add('filtered');
              } else {
                  box.classList.remove('filtered');
                  visible +=1;
              }
          });
          document.querySelector(".metadata").textContent = `[ ${visible} / ${count} matching ${from.toFixed(2)} < ratio < ${to.toFixed(2)} ]`;
      }
      function stats_refresh() {
          document.querySelector('.stats').replaceChildren(stats_viz());
      }

      function display_filename(filename, basedir, versions) {
          let session = filename.substr(0, 5);
          let fetches = versions
              .map(ver => [ ver, `${basedir}${ver}/${filename}`])
              .map(([ver, url]) => fetch(url)
                   .then(resp => resp.json())
                   .then(data => data.map(item => {
                       item.version = ver;
                       return item;
                   })));
          return Promise.all(fetches).then(datas => {
              // Merge different data files, versioning info has been added
              let viz = merged_viz(session, datas.flat());
              // Consider only 1st version for whole_data stats
              whole_data.push(datas[0]);
              document.querySelector('.dashboard').appendChild(viz);
          });
      }

      function load_filelist(filelist, basedir, versions) {
          // Group by 3 letter prefix
          let prefixes = [ ... new Set(filelist.map(n => n.substr(0, 3))) ];

          let display_prefix = (prefix) => {
              return Promise.all(filelist.filter(n => n.startsWith(prefix)).map(filename => display_filename(filename, basedir, versions)));
          };
          prefixes.forEach(prefix => {
              let button = document.createElement('div');
              button.classList.add('prefix');
              button.dataset.prefix = prefix;
              button.append(`Display sessions starting with ${prefix}`);
              button.addEventListener('click', b => {
                  display_prefix(prefix).then(datas => stats_refresh());
                  b.target.remove();
              });
              document.querySelector('.prefixes').appendChild(button);
          });
      }

      let versions = [ 'processed' ];
      let params = new URLSearchParams(location.search);
      let version_param = params.get('versions');
      if (!!version_param) {
          versions = version_param.split(',');
      }
      let basedir = get_basedir();
      get_session_list().then(filelist => load_filelist(filelist, basedir, versions));

      // Global stats
      document.querySelector('#update_stats').addEventListener('click', e => {
          stats_refresh();
      });

    </script>
  </body>
</html>
